{{ % for world in worlds % }}
worlds["{{ world.name }}"] = "{{ world.path }}"

renders["{{ world.render }}"] = {
    "world": "{{ world.name }}",
    "title": "{{ world.title }}",
    "dimension": "{{ world.dimension }}",
}

{{ % endfor % }}
outputdir = "{{ outputdir }}"



        